<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Ana Sayfa</h1>
            <div class="text-success" *ngIf="this.authService.isUserAuthenticated()">
                <h2>Giriş Yaptınız.</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <ul>
                <li><button class="btn btn-primary" [routerLink]="['customers']">Müşteriler</button></li>
                <li *ngIf="!this.authService.isUserAuthenticated()"><button class="btn btn-success"
                        [routerLink]="['login']">Giriş
                        Yap</button></li>
                <li *ngIf="this.authService.isUserAuthenticated()"><button class="btn btn-danger"
                        (click)="logOut()">Çıkış Yap</button>
                </li>
            </ul>
        </div>
    </div>
</div>



<br>